/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #404040;
}

p {
	font-size: .95em;
	margin-bottom: .5em;
}

h1,
h2,
h3,
a {
	color: #404040;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
	padding: 10px;
}

img {
	max-width: 100%;
}

button {
	float: left;
	margin-right: 360px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/*===This is the links on top row===*/
.main-nav a,
.footer-nav a {
	text-align: center;
  display: block;
	font-size: 1em;
	color: #404040;
	text-transform: uppercase;
}

.main-nav a:hover,
.footer-nav a:hover {
	color: #b3b3b3;
}

.main-nav ul,
.footer-nav ul {
	display: inline-block;
	padding: none;
	float: left;
}

.main-nav,
.social-icons {
	display: inline-block;
	overflow: hidden;
}


/* ---- Layout Containers ---- */

.main-header {
   width: 100%;
	 padding-top: 5px;
   padding-bottom: 5px;
	 height: 80px;
	 background-color: #f2f2f2;
}

/*------Facebook icon and link-----https://www.templatemonster.com/blog/how-to-add-social-media-icons-website/------*/


.social-icons li {
  display:inline-block;
  list-style-type:none;
	padding-right: 50px;
  -webkit-user-select:none;
  -moz-user-select:none;
  }

.social-icons li img {
  width:30px;
  height:30px;
  float: right;
}

.InfiniteCCR {
	float:left;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0 400px 0 0;
	margin: 0;
	text-transform: none;
}

.main-footer,
.footer-nav {
  text-align: center;
	display: center;
}

.banner {
	color: #404040;
	background: url('images/bw-ocean.jpg') no-repeat top center;
	background-size: cover;
  height: auto;
	padding: 25px 25px;
  margin: 0 0 25px 0;
	text-align: center;
	display: center;
}

.title {
	font-size: 50px;
}

.divemaster {
	font-size: 25px;
	font-weight: bold;
	margin: none;
}

.team {
	text-align: inline;
	margin: 35px 0 20px 0;
	padding: 0 16px;
}

.primary-content {
	text-align: center;
}

.secondary-content {
	text-align: left;
}

.feat-img {
	width: 330px;
	height: 330px;
}


.main-footer {
	padding: 1.5em;
	margin: 20px 0 0 0;
	list-style: none;
	background-size:cover;
	background-color: #f2f2f2;
}

.footer-nav {
	font-size: 15px;
}


/* ---- Page Elements ---- */

.logo {
	width: 240px;
	align: center;
}

.headline {
  margin: 30px;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.container {
  width: 90%;
  margin: 0 auto;
}

.name,
.col {
  float: left;
}

.primary,
.secondary {
  width: 50%;
}

.main-nav,
.footer-nav {
  float: left;
}

.main-nav li,
.footer-nav li {
  display: inline-block;
  list-style: none;
}

.main-nav,
.social-icons {
	float: right;
}

.tagline {
  font-size: 1.4em;
}

	/* ---- Float clearfix ---- */

@media (min-width: 736px) {

	.clearfix::after {
		content: " ";
		visibility: hidden;
		display: block;
		clear: both;
	}

}

@media (min-width: 1025px) {
  .container {
    width: 90%;
    max-width: 1150px;
}

.primary {
  width: 33%;
}

.secondary,
.tertiary {
  width: 33%
}
}
