/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: black;
}

p {
	font-size: .95em;
	margin-bottom: .5em;
}

h2,
h3,
a {
	color: black;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
  margin: 0;
}

/*===This is the links on top row===*/
.name a,
.main-nav a {
	text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav a {
	font-size: 1em;
	color: black;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: slategrey;
}

/* ---- Layout Containers ---- */

.main-header {
   padding-top: .5em;
   padding-bottom: .5em;
}

.banner,
.main-footer {
  text-align: center;
	display: block;
}

.banner {
	color: black;
	background: url('images/bw-ocean.jpg') no-repeat top center;
	background-size: cover;
  height: 250px;
	padding: 40px 0 0 0;
  margin: 0 0 20px 0;
}

.team {
	text-align: inline;
	margin: 40px 0 50px 0;
}

.primary-content {
	text-align: center;
}

.secondary-content {
	text-align: left;
}

.feat-img {
	width: 330px;
	height: 330px;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.main-footer {
	padding: 1.5em;
	margin: 20px 0 0 0;
	list-style: none;
	background-size:cover;
	background-color: #f2f2f2;
}

/*------Facebook icon and link-----https://www.templatemonster.com/blog/how-to-add-social-media-icons-website/------*/

.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:30px;
  height:30px;
  margin-right: 20px;
}

/* ---- Page Elements ---- */

.logo {
	width: 160px;
	align: left;
}

.headline {
  margin-bottom: 30px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.container {
  width: 90%;
  margin: 0 auto;
}

.name,
.col {
  float: left;
}

.primary,
.secondary {
  width: 50%;
}

.main-nav {
  float: right;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
	list-style: none;
}

.tagline {
  font-size: 1.4em;
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  .container {
    width: 90%;
    max-width: 1150px;
}

.primary {
  width: 33%;
}

.secondary,
.tertiary {
  width: 33%
}
}
